/* http://kojika17.com/2011/04/floatclearfix.php */
.clearfix {zoom:1;}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

body {
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
}

header.global {
    position: fixed;
    top: 0px;
    margin: 0px;
    height: 58px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 100;
    text-align: center;
    box-shadow: 0px 0px 5px #333;
}

header.global .username {
    margin: 5px auto auto auto;
}

header.global img.icon {
    position: fixed;
    left: 10px;
    top: 5px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
}

div.item {
    margin: 5px;
    padding: 5px 10px;
    word-wrap: break-word;
    width: 210px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000;
    font-size: 14px;
}

.item a {
    color: #0084B4;
    text-decoration: none;
}

.item a:hover {
    text-decoration: underline;
}

.item:hover a {
    color: #0084B4;
}

.item .screen_name {
    color: black;
    font-weight: bold;
}

.item .status {
    color:#3C3940;
}

.item .tools {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	padding: 0px 3px;
	background: -moz-linear-gradient(
		top,
		#f6f6f6 0%,
		#f3f3f3 25%,
		#f3f3f3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f6f6f6),
		color-stop(0.25, #f3f3f3),
		to(#f3f3f3));
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #8c8c8c;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 1px rgba(228,228,228,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

.item .tools {
    font-weight: bold;
    display: none;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.item:hover .tools {
    display: block;
}
.item .tools .rt, .item .tools .star {
    margin-left: 3px;
}
.item .tools .retweet_button:hover {
    cursor: pointer;
    color: #000;
}
.item .tools .fav_button:hover {
    cursor: pointer;
    color: #000;
}

div.item img.icon {
    border-radius: 5px;
    margin-top: 3px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 48px;
    height: 48px;
    float: left;
}

div.item img.media {
    /* width: 150px; */
    /* height:150px; */
}

div.item p {
    margin-top: 0px;
    padding: 0px;
}

div.item footer.item_footer {
    text-align: right;
    font-size: x-small;
}

input.screen_name_input {
    position: fixed;
    left: 63px;
    top: 20px;
    width: 100px;
    font-size: 12px;
}

.active {
    color: black;
}

input.favtile_button {
    position: fixed;
    left: 180px;
    top: 21px;
    width: 80px;
}

input.favtile_button:hover {
    opacity: 0.9;
	  color: #202020;
}  

input.favtile_button, input.screen_name_input {
    padding: 5px;
    z-index: 105;
}

.favtile_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}

#favs {
    margin: 60px 0px 0px 0px;
}

#error {
    margin: 60px 0px 0px 0px;
}

#favs footer.loading_footer {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.loading {
    display: none;
}

.signin {
    position: fixed;
    top: 30px;
    right: 10px;
    color: #eee;
}

.signout {
    position: fixed;
    top: 30px;
    right: 10px;
    color: #eee;
}
