/* http://kojika17.com/2011/04/floatclearfix.php */
img {
    border: 0px;
}
.clearfix {zoom:1;}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

body {
    margin: 0px;
    padding: 0px;
    background: url(/back.gif);
}

.global_header {
    text-size: 20px;
    position: fixed;
    top: 0px;
    margin: 0px;
    height: 67px;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 10;
    text-align: center;
    box-shadow: 0px 0px 5px #333;
    behavior: url('PIE.htc');
}

.global_header h1 {
    margin: 0px;
}

.global_header .logo {
    margin: 10px auto auto auto;
}

#favs header img.icon {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    z-index: 11;
    behavior: url('PIE.htc');
}

div.item {
    margin: 5px;
    padding: 5px 5px 20px 5px;
    word-wrap: break-word;
    width: 210px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 3px black;
    font-size: 14px;
    behavior: url('PIE.htc');
}

.item a {
    color: #0084B4;
    text-decoration: none;
}

.item a:hover {
    text-decoration: underline;
}

.item:hover a {
    color: #0084B4;
}

.item .screen_name {
    color: black;
    font-weight: bold;
}

.item .status {
    color:#3C3940;
}

.item .tools {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	padding: 0px 3px;
	background: -moz-linear-gradient(
		top,
		#f6f6f6 0%,
		#f3f3f3 25%,
		#f3f3f3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f6f6f6),
		color-stop(0.25, #f3f3f3),
		to(#f3f3f3));
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #8c8c8c;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 1px rgba(228,228,228,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
    behavior: url('PIE.htc');
}

.item .tools {
    display: none;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.item:hover .tools {
    display: block;
}
.item .tools .rt, .item .tools .star, .item .tools .user {
    margin-left: 3px;
}

.item .tools .retweet_button {
    font-size:12px;
}
.item .tools .retweet_button:hover {
    cursor: pointer;
    color: #000;
}
.item .tools .fav_button:hover {
    cursor: pointer;
    color: #000;
}

div.item img.icon {
    border-radius: 5px;
    margin-top: 3px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 48px;
    height: 48px;
    float: left;
    behavior: url('PIE.htc');
}

div.item img.media {
    /* width: 150px; */
    /* height:150px; */
}

div.item p {
    margin-top: 0px;
    padding: 0px;
}

div.item footer.item_footer {
    text-align: right;
    font-size: x-small;
}

input.screen_name_input {
    position: fixed;
    left: 93px;
    top: 25px;
    width: 100px;
    font-size: 12px;
}

input.favtile_button {
    position: fixed;
    left: 210px;
    top: 26px;
    width: 80px;
}

input.favtile_button:hover {
    opacity: 0.9;
	  color: #202020;
}  

input.favtile_button, input.screen_name_input {
    padding: 5px;
    z-index: 105;
}

.atmark {
    color: #ffffff;
    position:fixed;
    left: 63px;
    top: 25px;
    font-size: 22px;
    z-index: 20;
}

.signin_with_twitter {
    margin-top: 30px;
    margin-left: 30px;
    width:150px;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.screen_capture {
    width: 100%;
}

.favtile_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
    behavior: url('PIE.htc');
}

#favs {
    margin: 68px 0px 0px 0px;
}

#error {
    color: white;
    width: 200px;
    margin: 80px auto 0px auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    behavior: url('PIE.htc');
}

#favs footer.favs_footer {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.loading {
    display: none;
    background: black;
    border-radius: 10px;
    padding: 10px 15px 10px 10px;
    behavior: url('PIE.htc');
}

.signin, .signout {
    top: 37px;
    right: 200px;
}

.signin {
    position: fixed;
    color: #eee;
    z-index: 11;
}

.signout {
    position: fixed;
    color: #eee;
    z-index: 11;
}

.top_background {
    display: none;
    /* background-attachment: fixed, fixed; */
    /* background-repeat: no-repeat, no-repeat; */
    /* background-color: rgba(255, 255, 255, 0.8), rgba(0,0,0,0); */
    /* background-image: url('/top_background.png'), url('/screen01.png'); */
    /* background-position: left top, right top; */
    width: 62%;
    margin-left: auto;
    margin-right: auto;
}

.need-signin {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    margin: 60px 0px 0px 0px;
    z-index: 100;
    background: rgb(255, 255, 255);
    background: url('/top_background.png'), rgba(255, 255, 255, 0.8), right top, no-repeat;
}

.global_footer {
    text-align: right;
}

.social_buttons {
    position:absolute;
    right: 5px;
    top: 0px;
}

.fb-like {
    top: -3px;
}

.twitter-share-button {
    margin-top: 4px;
}
.favs_footer p {
    color: white;
    width: 200px;
    margin: 80px auto 0px auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    behavior: url('PIE.htc');
}

.fb_edge_comment_widget {
    top: 66px !important;
    left: -270px !important;
}

.media, .embed .description {
    display:none !important;
}
